.content {
  position: relative;

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    text-align: center;
    color: $c_white;
    font-size: clamp(2.5rem, 1.25rem + 5.5556vw, 6.25rem);
    font-weight: 700;
    padding: 2rem 1rem;
  }
}

.projets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &:first-of-type {
    min-height: 89vh;
  }

  &__title {
    position: relative;
    color: $c_white;
    font-weight: 600;
    font-size: clamp(2.5rem, 2.2917rem + .9259vw, 3.125rem);;
    padding: 2rem;
    margin-bottom: 4rem;

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      width: 70%;
      left: 50%;
      transform: translate(-50%);
      background-color: #fff;
      margin: 2rem 0;
      border-radius: 2px;
    }
  }

  &__agences {
    max-width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
  }

  &--impair {
    background-color: $c_darkblue;
  }
}

.agence {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;

  &__content {
    background-color: rgba(135, 91, 255, 0.85);
    z-index: 20;
    width: $img_w;
    height: $img_h;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    border-radius: 16px;
    transition: opacity 0.3s ease-in-out;
  }

  &__name {
    text-align: center;
    color: $c_white;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  &__image {
    width: $img_w;
    height: $img_h;
    z-index: 10;
    border-radius: 16px;
  }

  &__link {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    &:hover > .agence__content {
      opacity: 1;
    }
  }


}

.main-fab {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 100;
}

.fab {
  color: $c_white;
  background-color: $c_magenta;
  width: 3vw;
  height: 3vw;
  border-radius: 999rem;
  padding: 0.5rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  animation: bounce 2s ease-in-out infinite;

  &:hover {
    cursor: pointer;

    .fab__path {
      stroke: $c_orange;
    }

    .fab__circle {
      stroke: $c_orange;
    }
  }
}

@keyframes bounce {
  70% { transform:translateY(0%); }
  80% { transform:translateY(-15%); }
  90% { transform:translateY(0%); }
  95% { transform:translateY(-7%); }
  97% { transform:translateY(0%); }
  99% { transform:translateY(-3%); }
  100% { transform:translateY(0); }
}
