.header-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 5vw;

  img {
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
    margin: 0 1rem;
  }
}


.principal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;

  .principal-mobile {
    display: none;
  }

  .principal-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 7vw;
    flex-shrink: 0;
    &__title {
      color : $c_white;
      font-size: 6rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-bottom: 3vh;
    }


    &__serveur {
      color : $c_white;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      font-size: 3rem;
      padding-bottom: 3vh;

    }

    &__formation {
      color : $c_white;
      font-style: normal;
      font-weight: 500;
      line-height: 1.4;
      font-size: 2rem;

    }

    &__parcours {
      color : $c_white;
      font-style: normal;
      font-weight: 500;
      line-height: 1.4;
      font-size: 2rem;
    }
  }

  .principal-img {
    flex-shrink: 1;

    &__image {
      height:  auto;
      max-height: 60rem;
      object-fit: cover;
      width:  100%;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
  margin-top: 5rem;

  &__text {
    color: $c_white;
    font-size: 1.8rem;
  }

  .footer-reso {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__element {
      padding: 0 1rem;

    }
    &__link {
      color: $c_white;
      text-decoration: none;
      font-size: 2.4rem;
    }
  }

}

