.nav-mobile {
  display: none;
  z-index: 100;
}

.nav-menu {
  z-index: 100;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  background-color: $c_magenta;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10rem;
  padding: 3rem 1rem;

  &__element {
    padding: 1rem 0;
    text-align: center;
  }

  &__link {
    color: $c_white;
    font-size: 32px;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-style: normal;

    &--active {
      color: $c_orange;
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    &--active {
      display: block;
      padding-top: 0.5rem;
      font-size: 1.1rem;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &--inactive {
      display: none;
    }
  }
}
