@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.header {
  display: flex;
  justify-content: center;
}

.projets {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projets__title {
  font-size: 1.8rem;
}
.projets__agences {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
}

.agence {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agence__image {
  width: 14rem;
  height: 12rem;
}
.agence__image:hover {
  filter: brightness(0.5);
}
.agence__image:hover ~ .agence__image--hover {
  visibility: visible;
}
.agence__link {
  text-decoration: none;
  text-align: center;
  position: relative;
}
.agence__svg {
  position: absolute;
  visibility: hidden;
  bottom: 50%;
  left: 45%;
}

.header-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 5vw;
}
.header-home img {
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
  margin: 0 1rem;
}

.nav-menu {
  position: absolute;
  top: 43%;
  left: 20px;
  background-color: #31065A;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10rem;
  padding: 3rem 1rem;
}
.nav-menu__element {
  padding: 1rem 0;
  text-align: center;
}
.nav-menu__link {
  color: #fff;
  font-size: 32px;
  width: auto;
  text-align: center;
  text-decoration: none;
  font-style: normal;
}
.nav-menu__link--active {
  color: #F86F03;
  margin-bottom: 1.5rem;
}
.nav-menu__text--active {
  display: block;
  padding-top: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-menu__text--inactive {
  display: none;
}

.principal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}
.principal .principal-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.principal .principal-text__title {
  color: #fff;
  order: 3;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.principal .principal-text__subtitle {
  color: #fff;
  order: 1;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 2rem;
}
.principal .principal-text__serveur {
  color: #fff;
  order: 2;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 3rem;
  padding: 2rem;
}
.principal .principal-text__formation {
  color: #fff;
  order: 4;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 2rem;
}
.principal .principal-text__parcours {
  color: #fff;
  order: 5;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 2rem;
}
.principal .principal-img__image {
  height: 60rem;
  flex-shrink: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
  margin-top: 5rem;
}
.footer__text {
  color: #fff;
  font-size: 1.8rem;
}
.footer .footer-reso {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-reso__element {
  padding: 0 1rem;
}
.footer .footer-reso__link {
  color: #fff;
  text-decoration: none;
  font-size: 2.4rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Exo 2", sans-serif;
  font-size: 1.6rem;
  background: #2B1573;
  position: relative;
}

/*# sourceMappingURL=master.css.map */
