@import "reset";
@import "agence";
@import "colors";
@import "index";
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.6rem;
  background: $c_bg;
  position: relative;
}

@media screen and (max-width: 768px) {

  .nav-desktop{
    display: none;
  }

  .nav-mobile{
    display: block;

    .nav-menu {
      display: flex;
      justify-content: center;
      width: 50%;
      min-width: 205px;
      padding: 1rem 4rem;
      top : 95%;
      left: 25%;

      &__element  {
        padding : 0 1rem;
      }

      &__link {
        color: $c_white;
        text-align: center;
        text-decoration: none;
        font-style: normal;


        &--active {
          color : $c_orange;
        }
      }

      &__text {
        display: block;
        font-size: 1.1rem;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0;
        color: $c_white;
      }
    }
  }

  .principal{
    display: flex;
    flex-direction: column;

    .principal-text{

      &__title {
        color : $c_white;
        order: 3;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &__subtitle {
        color : $c_white;
        order: 1;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 2rem;
      }

      &__serveur {
        color : $c_white;
        order: 2;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 2rem;
        padding: 2rem;

      }

      &__formation {
        color : $c_white;
        order:4;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 1.8rem;
        text-align: center;

      }

      &__parcours {
        color : $c_white;
        order: 5;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 1.6rem;
        text-align: center;
      }
    }

    .principal-img {
      &__image{
        height : 30vh;
      }
    }
  }


  .footer {
    display: none;
  }
}
